/* CSS declarations go here */


body {
    background-repeat: no-repeat no-repeat;
    /*    background-repeat: space no-repeat;  utile pour l'arbre mobile. */
    background-image: url('/img/sakura_trees.jpg');
    background-size: cover;/* prend toute la largeur. garde les proportions. */
    background-position: center 40px;
    /* background-origin: content-box; */
}
/**/



body {
/*	background: #888888;*/
/*    background: #ccc;*/
/*    opacity: 0.8; */
	padding-top: 50px;
    padding-bottom: 10px;
 /*   margin: 0px 10%;*/
/*    border-radius: 20px;*/
}

body > * {
    background: #ddd;
    background-color: rgba(221, 221, 221, 0.85);
    border-radius: 10px;
    padding: 5px;
}

.message-well {
	margin: 40px 15px;
}

.item-form {
    margin-top: 10px;
    padding: 10px 5px;
    background: #ddd;
    border: 1px solid;
    border-radius: 5px;
}

.item-form legend {
    border: 1px solid;
    border-radius: 10px;
    padding: 0px 5px;
    width: auto;
    background: #aaa;
}


@media(max-width: 768px) {

    body {
        background-color: #eee;
        background-image: url('/img/sakura_small.svg');
        background-size: contain;
        background-repeat: repeat-x;
    }

}